<div
  id="comment{{comment.id}}-card"
  class="comment-card card border-secondary-subtle border-top-0 border-start-0 border-end-0 rounded-0"
  data-comment-id="{{comment.id}}"
  data-associated-post-id="{{post.id}}"
  data-logged-in="{{loggedIn}}"
  data-edit-mode="false"
  data-new-comment="false"
  data-current-text=""
>
  <div class="associated-post-and-comment">

    {{#if post}}
      <div class="associated-post pt-3">
        <div class="post-title-and-pub-date">
          {{!-- POST TITLE --}}
          <h4 class="card-title mb-2">
            {{!-- clicking this link will not collapse the post --}}
            <a
              class="bg-link"
              href="/post/{{post.id}}"
              data-no-collapse="true"
            >{{post.title}}</a>
          </h4>
          {{!-- POST PUBLICATION DATE --}}
          <h6
            id="comment{{comment.id}}-date"
            class="comment-date card-subtitle mb-2 text-body-tertiary"
          >
            {{formatDate date_created}}
          </h6>
        </div>

        <div class="collapse" data-collapse-type="commentPost" id="collapsePostComment{{comment.id}}">
          {{!-- POST CONTENT --}}
          <p class="card-content mb-2">{{post.content}}</p>
          <p class="card-content text-end mb-4">
            &#8212;
            <a class="bg-link" href="/posts/{{post.author.username}}" data-no-collapse="true"> {{!-- clicking this link will not collapse the post --}}
              {{post.author.username}}
            </a>
          </p>
        </div>

      </div>
    {{else}}
      <h4 class="card-title">
        Post not available
      </h4>
    {{/if}}

    <div class="card-header-section p-3">

        <div class="p-3 rounded-0 bg-body-tertiary" style="width: 100%;">
          {{!-- COMMENT TEXT --}}
          <p class="comment-text">{{comment.text}}</p>
          {{!-- COMMENT DATE --}}
          <p class="comment-date text-body-tertiary">{{formatDate comment.date_created}}</p>
        </div>

      {{#if dashboardComments}}
        {{> dashboard-comment-buttons comment=comment}}
      {{/if}}

    </div>
  </div>
</div>
