<div id="comments-header">

  <h3>
    {{#if dashboardComments}}
      My Comments
    {{else}}
      {{#if comments.length}}
        All Comments by {{username}}
      {{else}}
        No comments available from {{username}}
      {{/if}}
    {{/if}}
  </h3>

</div>

<div id="all-comments">
  {{#if comments.length}}
    {{#each comments as |comment|}}
      {{>commentcard comment=comment dashboardComments=../dashboardComments loggedIn=../loggedIn}}
    {{/each}}
  {{else}}
    No comments yet...
  {{/if}}
</div>

<div class="pt-2">
    {{#if dashboardComments}}
      <p><a class="bg-link" href="/dashboard">See all my posts</a></p>
    {{else}}
      <p><a class="bg-link" href="/posts/{{username}}">See all posts by {{username}}</a></p>
    {{/if}}
</div>
