{{#unless homepage}}
  <div id="posts-header" class="mb-2">

    <h3 class="mb-0">
      {{#if dashboard}}
        My Posts
      {{else if homepage}}
      {{!-- empty --}}
      {{else}}
        {{#if posts.length}}
          All Posts by {{username}}
        {{else}}
          No posts available from {{username}}
        {{/if}}
      {{/if}}
    </h3>

    {{#if dashboard}}
      {{!-- NEW POST BUTTON --}}
      <button type="button"
        id="new-post-button"
        class="btn btn-primary py-0 fade-in-out"
      >New Post
      </button>
    {{/if}}

  </div>
{{/unless}}

<div id="all-posts">
  {{#if posts.length}}
    {{#each posts as |post|}}
      {{> postcard post=post loggedIn=../loggedIn homepage=../homepage dashboard=../dashboard}}
    {{/each}}
  {{else}}
    No posts yet...
  {{/if}}
</div>

{{#unless homepage}}
  <div class="pt-2">
    {{#if dashboard}}
      <p><a class="bg-link" href="/dashboard/comments">See all my comments</a></p>
    {{else}}
      <p><a class="bg-link" href="/comments/{{username}}">See all comments by {{username}}</a></p>
    {{/if}}
  </div>
{{/unless}}
