{{#if dashboard}}
{{>dashboard-modals}}
{{/if}}

<div
  id="post{{post.id}}-card"
  class="post-card card pt-3 border-secondary-subtle border-top-0 border-start-0 border-end-0 rounded-0"
  data-post-id="{{post.id}}"
  data-logged-in="{{loggedIn}}"
  data-edit-mode="false"
  data-new-post="false"
  data-current-title=""
  data-current-pub-date=""
  data-current-content=""
>
  <div>
    <div class="card-header-section">
      <div>
        {{!-- POST TITLE --}}
        <h4 class="card-title">
          {{#if singlePost}}
            {{post.title}}
          {{else}}
            {{!-- clicking this link will not collapse the post --}}
            <a
              class="bg-link"
              href="/post/{{post.id}}" data-no-collapse="true"
            >{{post.title}}</a>
          {{/if}}
        </h4>
        <h6
          id="post{{post.id}}-publication-date"
          class="publication-date card-subtitle mb-2 text-body-tertiary"
        >
        {{!-- POST PUBLICATION DATE --}}
        {{#if post.published}}
          {{formatDate post.date_published}}
        {{else}}
          DRAFT
        {{/if}}
        </h6>
      </div>

      {{#if dashboard}}
        {{> dashboard-post-buttons post=post}}
      {{/if}}

    </div>
    <div class="collapse" data-collapse-type="post" id="collapsePost{{post.id}}">
      {{!-- POST CONTENT --}}
      <p class="card-content ps-3">{{post.content}}</p>
    </div>
    {{#if dashboard}}
      {{!-- no author, user's own posts --}}
    {{else if username}}
      {{!-- no author, author already displayed at top of page --}}
    {{else}}
      {{!-- POST AUTHOR --}}
      <p class="card-content text-end pb-3">
        {{!-- clicking this link will not collapse the post --}}
        <a
          class="bg-link"
          href="/posts/{{post.author.username}}"
          data-no-collapse="true"
        >&#8212; {{post.author.username}}</a>
      </p>
    {{/if}}
    <div class="collapse" data-collapse-type="" id="collapse2Post{{post.id}}">

      {{!-- COMMENT HEADER --}}
      <div class="comments-header my-3">
        <h5>
          {{!-- clicking this link will not collapse the post --}}
          <a 
            class="bg-link"
            data-no-collapse="true"
            data-bs-toggle="collapse"
            href="#collapseComments-post{{post.id}}"
            role="button"
          >Comments</a>
        </h5>

        {{!-- NEW COMMENT BUTTON --}}
        <div id="post{{post.id}}-new-comment-button" class="fade-in-out display-none">
          <button
            type="button"
            class="btn btn-primary px-2 py-0 new-comment-button"
            disabled="true"
          >New Comment</button>
        </div>

      </div>
      <div class="collapse" data-collapse-type="comments" id="collapseComments-post{{post.id}}">
        <div class="mb-3">
          {{#if post.comments.length}}
            {{#each post.comments as |comment|}}
              <div class="card border-light-subtle border-bottom-0 border-start-0 border-end-0 rounded-0 card-body">
                <div class=" ps-3 py-2 pe-3 rounded-0 bg-body-tertiary">
                  {{!-- COMMENT TEXT --}}
                  <p class="card-content">{{text}}</p>
                  {{!-- COMMENT DATE --}}
                  <p class="subtitle text-body-tertiary">{{formatDate date_created}}</p>
                  {{!-- COMMENT AUTHOR --}}
                  <p class="card-content mb-0 text-end">
                    {{!-- clicking this link will not collapse the post --}}
                    <a 
                      class="bg-link"
                      href="/posts/{{author.username}}"
                      data-no-collapse="true"
                    >&#8212; {{author.username}}</a>
                  </p>
                </div>
              </div>
            {{/each}}
          {{else}}
            <p>No comments yet</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
