<div id="dashboard-header">

  <h3>
    {{#if dashboard}}
      My Posts
    {{else if homepage}}
    {{!-- empty --}}
    {{else}}
      {{#if posts.length}}
        All posts by {{ username }}
      {{else}}
        No posts available from {{ username }}
      {{/if}}
    {{/if}}
  </h3>

  {{#if dashboard}}
    {{!-- NEW POST BUTTON --}}
    <button type="button"
      id="new-post-button"
      class="btn btn-primary"
    >New Post
    </button>
  {{/if}}

</div>

<div id="all-posts">
  {{#each posts as |post|}}
  {{>postcard post=post dashboard=../dashboard loggedIn=../loggedIn}}
  {{/each}}
</div>

<div>
    {{#if dashboard}}
    <p>See all my <a href="/comments/{{username}}">comments</a></p>
    {{else}}
    <p>See all <a href="/comments/{{username}}">comments</a> by {{username}}</p>
    {{/if}}
</div>
