<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <a data-bs-toggle="collapse" href="#collapsePost{{id}}" role="button">
        {{title}}
      </a>
    </h4>
    <h6 class="card-subtitle mb-2 text-body-tertiary">{{formatDate date_created}}</h6>
    <div class="collapse" id="collapsePost{{id}}">
      <p class="card-text mb-2">{{content}}</p>
    </div>
    {{#unless dashboard}}
    <p class="card-text text-end">&#8212;<a href="/posts/{{ author.username }}">{{ author.username }}</a></p>
    {{/unless}}
    <div class="collapse" id="collapsePost{{id}}">
      <h5>
        <a data-bs-toggle="collapse" href="#collapseComments-post{{id}}" role="button">
          Comments
        </a>
      </h5>
      <div class="collapse" id="collapseComments-post{{id}}">
        {{#each comments as |comment|}}
        <div class="card card-body">
          <p class="card-text">{{text}}</p>
          <p class="subtitle text-body-tertiary">{{formatDate comment.date_created}}</p>
          <p class="card-text mb-2 text-end">&#8212;<a href="/posts/{{author.username}}">{{ author.username }}</a></p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
