<div>
    <p>Post ID: {{post.id}}</p>
</div>
<div class="eachPost">
  <h2>{{ post.title }}</h2>
  <p>by <a href="/posts/{{ post.author.username }}">{{ post.author.username }}</a></p>
  <p>{{ post.content }}</p>
</div>
<div>
  <h3>Comments</h3>
  {{#each post.comments}}
    <div>
      <p><a href="/comment/{{ id }}">{{ text }}</a> ~<a href="/comments/{{ author.username }}">{{ author.username }}</a></p>
    </div>
  {{/each}}
</div>