{{#each posts}}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
        <a href="/post/{{ id }}">{{ title }}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{formatDate date_created}}</h6>
    <p class="card-text">&#8212;<a href="/posts/{{ author.username }}">{{ author.username }}</a></p>
  </div>
</div>
{{/each}}